.prodImg{
  max-width: 300px;
}
.holder{
  margin-top: 70px;
}
.login{
  width: 300px;
}
.filedrop-holder {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
